.git
.gitignore
.env
.env.*
.DS_Store
node_modules
**/node_modules
**/.turbo
**/.next
**/.nuxt
**/.cache
**/.vite
**/build
**/dist
coverage
tmp
docker-compose.yml
docker-compose.yaml
compose.yaml
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.local
